.roadmap_wrapper {
  padding-top: 126px;
  padding-bottom: 250px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 76px;

  @media (max-width: 768px) {
    padding-top: 95px;
    padding-bottom: 130px;
    align-items: self-start;
    gap: 33px;
  }

  .title {
    @media (max-width: 768px) {
      align-self: self-start;
    }
  }
  .roadmap_content {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;

    .romap_bg {
      position: absolute;
      top: -600px;
      @media (max-width: 1440px) {
        display: none;
      }
    }

    .romap_bg + .romap_bg {
      top: 500px;
    }
    .roadmap_list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 20px;
      column-gap: 40px;
      z-index: 2;
      @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 32px;
      }
      &.active {
        gap: 18px;
      }

      .item_box {
        display: flex;
        align-items: center;
        gap: 12px;

        .status {
          .status_box {
            display: flex;
            align-items: center;
            border-radius: 50px;
            padding: 12px 0px;
            width: 94px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, #222 0%, #0f0f0f 100%);
            border-top: 1px solid white;
            font-weight: 400;
            font-size: 16px;
            line-height: 156%;
            color: #e2e2e2;

            &.active {
              box-shadow: 0 0 10px 0 #0497ff;
              background: white;
            }
            @media (max-width: 1200px) {
              width: 57px;
              padding: 5px 0px;
              font-weight: 400;
              font-size: 16px;
              line-height: 156%;
            }
          }
        }
        .road_item {
          background: #171717;
          &.active {
            box-shadow: 0 0 10px 0 #0497ff;
          }
          width: 100%;
          padding: 31px 63px;
          box-sizing: border-box;
          border-radius: 12px;
          @media (max-width: 768px) {
            padding: 8px 16px;
          }
          span {
            max-width: 254px;
            width: 100%;
            font-weight: 500;
            font-size: 32px;
            line-height: 119%;
            text-align: center;
            color: white;
            @media (max-width: 768px) {
              font-weight: 500;
              font-size: 18px;
              line-height: 156%;
            }
          }
        }
      }
    }
  }
}
