.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 20px;
  background-color: white;
  border: none;
  color: black;
  font-size: 17.62px;
  line-height: 21.31px;
  font-weight: 600;
  cursor: pointer;

  .text_button {
    position: relative;

    .message {
      position: absolute;
      top: -6px;
      font-weight: 700;
      right: -30px;
      font-size: 10px;
      line-height: 90%;
      background: linear-gradient(270deg, #36f5ff 0%, #0085ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
