.about_wrapper {
  padding-top: 126px;
  @media (max-width: 768px) {
    padding-top: 95px;
  }

  .welcome_block {
    .content_block {
      max-width: 1016px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 83px;
      .text_box {
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 18px;
        align-items: self-start;
        @media (max-width: 768px) {
          max-width: 100%;
          justify-content: center;
          gap: 26px;
        }
        .welcomeSubTitle {
          max-width: 420px;
          width: 100%;
          @media (max-width: 768px) {
            font-size: 16px;
            line-height: 137%;
          }
        }
      }
      .bottom_box_content {
        display: flex;
        gap: 47px;
        .button_box {
          z-index: 10;
          display: flex;
          flex-direction: column;
          gap: 10px;
          max-width: 298px;
          width: 100%;
          @media (max-width: 768px) {
            max-width: 100%;
            justify-content: center;
          }
          .button {
            padding: 10px;
            @media (max-width: 768px) {
              font-weight: 600;
              font-size: 17px;
            }
          }
        }
        .videos {
          z-index: 1;
          display: flex;
          .video_item {
            border-radius: 13px;
            width: 392px;
            height: 550px;
            border: 1px solid white;
            background: url(../../assets//border_media_card_jogger.svg) center
              no-repeat;
            -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);

            &.starwars {
              margin-top: -285px;
              transform: rotate(20deg);
            }

            &.jogger {
              margin-top: -159px;
              margin-left: -104px;
            }

            &.superfrog {
              transform: rotate(-20deg);
              margin-top: 105px;
              margin-left: 104px;
            }

            .video_body {
              position: relative;
              width: 100%;
              height: 100%;

              video {
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
                bottom: 30px;
                z-index: 5;
                max-width: none;
              }
            }
          }
        }
      }
    }
  }
}
.about_box {
  padding: 250px 0;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1440px) {
    flex-direction: column;
    gap: 63px;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 768px) {
    padding: 250px 0;
  }
  .about_text_box {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: 100%;
    z-index: 2;

    .about_sub_title {
      margin-top: 80px;
      font-weight: 500;
      font-size: 26px;
      line-height: 142%;
      color: #fff;
      @media (max-width: 768px) {
        font-size: 22px;
        line-height: 127%;
        margin-top: 26px;
      }
    }
    .about_text {
      margin-top: 24px;
      font-weight: 400;
      font-size: 18px;
      line-height: 178%;
      color: #dcdcdc;
      @media (max-width: 768px) {
        font-size: 16px;
        line-height: 137%;
        margin-top: 12px;
      }
    }

    .unit_block {
      display: flex;
      flex-direction: column;
      gap: 13px;

      @media (max-width: 768px) {
        display: none;
      }
      .unit_text {
        font-size: 64px;
      }
      .grayBlock {
        max-width: 210px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .media_box {
    position: relative;
    width: 889px;
    height: 695px;
    z-index: 1;
    @media (max-width: 768px) {
      width: 480px;
      height: 375px;
    }
    video {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 30px;
      z-index: 5;
      max-width: none;
      @media (max-width: 1440px) {
        bottom: 0px;
      }
      @media (max-width: 768px) {
        max-width: 480px;
      }
    }
  }
  .unit_block_small {
    display: none;
    @media (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .unit_text {
        font-size: 64px;
      }
      .grayBlock {
        max-width: 210px;
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
      }
    }
  }
}

.white{
  color: white;
  background: none;
  background-clip: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
}