.about_wrapper {
  .welcome_block {
    .content_block {
      display: flex;
      flex-direction: column;
      gap: 60px;
      .text_box {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: self-start;
        .welcomeSubTitle {
          max-width: 420px;
          width: 100%;
        }
      }
      .button_box {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 298px;
        width: 100%;
        .button {
          padding: 10px;
        }
      }
    }
  }
}
.about_box {
  padding: 250px 0;
  display: flex;
  justify-content: space-between;
  .about_text_box {
    display: flex;
    flex-direction: column;
    gap: 64px;
    max-width: 611px;
    width: 100%;
    .about_sub_title {
      margin-top: 80px;
      font-weight: 500;
      font-size: 26px;
      line-height: 142%;
      color: #fff;
    }
    .about_text {
      margin-top: 24px;
      font-weight: 400;
      font-size: 18px;
      line-height: 178%;
      color: #dcdcdc;
    }
    .unit_block {
      display: flex;
      flex-direction: column;
      gap: 13px;
      .unit_text {
        font-size: 64px;
      }
      .about_button {
        background-color: #646464;
        color: white;
        max-width: 210px;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: white;
      }
    }
  }
}
