.not_found_block {
  padding-top: 124px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    padding-top: 95px;
    padding-bottom: 91px;
  }
  .title {
    background: linear-gradient(270deg, #36f5ff 0%, #0085ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span {
    margin-top: 16px;
    text-align: center;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    background-color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 44px;
    border: none;
    color: black;
    font-size: 17.62px;
    line-height: 21.31px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0 0 20px 0 #0085ff;
  }
}
